/* ***************** utilities & containers ***************** */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.inner-container {
    max-width: 1528px;
    margin: 0 auto;
    padding: 1rem;
}

.flex-container {
    display: flex;
    /* Used display flex to put content beside each other within the container */
    flex-wrap: wrap;
    /* Used flex-wrap to wrap the flexed content within the container */
    gap: 2rem;
}

/* ***************** global typography ***************** */

h1 {
    font-size: 1.625rem;
}

h2 {
    font-size: 3.75rem;
    margin-bottom: 1.5rem;
}

h3 {
    font-size: 3rem;
    padding: 1rem;
}

h4 {
    font-size: 2.125rem;
}

/* ***************** header & footer ***************** */

header {
    padding: 1.625rem 0;
    margin-bottom: 1.75rem;
    background-color: #0C4A6E;
    color: #FAFAFA;
}


footer {
    padding: 1.625rem 0;
    background-color: #0C4A6E;
    color: #FAFAFA;
}

/* ***************** main content ***************** */

.team-members,
.service-plans {
    margin-bottom: 6rem;
}

.team-members section {
    background-color: #cccccd;
    display: flex;
    /* Used display flex to flex the container and move the content beside each other */
    gap: 3.5rem;
}

.team-members section:nth-of-type(1) {
    padding: 2rem 1.75rem;
}

.team-members section:not(.sarah) {
    padding: 2.5rem 1.75rem;
}

.service-plans section {
    background-color: #cccccd;
    padding: 0 3rem;
}

.service-plans li {
    list-style-type: initial;
}

.service-plans h3,
.service-plans h4,
.service-plans p {
    text-align: center;
}

.service-plans p {
    font-size: 1.5rem;
    color: #0C4A6E;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.75rem;
}

.starter h3 {
    margin: 1.75rem 0 3rem 0;
}

.starter li:last-child {
    margin-bottom: 3rem;
}

.growth h3 {
    margin: 1.75rem 0 1.5rem 0;
}

.growth li:last-child {
    margin-bottom: 1.5rem;
}

.enterprise h3 {
    margin-top: 1.75rem;
}

.team-members .flex-container section {
    width: calc((100% / 2) - (2rem / 2));
}

.service-plans .flex-containersection {
    width: calc((100% / 3) - (2rem / 3));
}